<hr>
<ol>
 <li>include blockType: {{include.blockType}}</li>
 <li>blockType: {{blockType}}</li>
 <li>blockFrom: {{blockFrom}}</li>
 <li>blockName: {{blockName}}</li>
 <li>blockTitle: {{blockTitle}}</li> 
 <li>blockMethod: {{blockMethod}}</li>
 <li>blockCall: {{blockCall}}</li>
 <li>blockCollection: {{blockCollection}}</li>
 <li>blockData: {{blockData}}</li>
 <li>blockParams: {{blockParams}}</li>
 <li>blockBool: {{blockBool}}</li>
 <li>blockKey: {{blockKey}}</li>
 <li>blockVal: {{blockVal}}</li>
 <li>cardData: {{cardData}}</li>
 <li>cardName: {{cardName}}</li>
 <li>aryLength: {{aryLength}}</li>
 <li>blockSidesection: {{blockSidesection}}</li>
 <li>blockShareable: {{blockShareable}}</li>
</ol>
<hr>