<hr>
<ol>
 <li>page.collection: {{page.colection}}</li>
 <li>page.name: {{page.name}}</li>
 <li>thisCollection: {{thisCollection}}</li>
 <li>typeCollection: {{typeCollection}}</li>
</ol>
<ol>
 <li>page.lang: {{page.lang}}</li>
 <li>site.lang-ref: {{site.lang-ref}}</li>
 <li>site.lang-alt: {{site.lang-alt}}</li> 
 <li>thisLabel: {{thisLabel}}</li>
 <li>thisLabelRef: {{thisLabelRef}}</li> 
 <li>thisLabelAlt: {{thisLabelAlt}}</li>
 <li>thisLangSwitch: {{thisLangSwitch}}</li>
 <li>thisLangRefUrl: {{thisLangRefUrl}}</li>
 <li>thisLangAltUrl: {{thisLangAltUrl}}</li>
 <li>thisLangAltBase: {{thisLangAltBase}}</li>
 <li>zmgbase: {{zmgbase}}</li>
 <li>thisModular: {{thisModular}}</li>
{% if thisModular %}
 <li>thisModular is TRUE</li>
{% else %}
 <li>thisModular is FALSE</li>
{% endif %}
</ol>
<hr>